<% provide(:title, @question.title) %>
<div class="row">
  <div class="span10 offset1 question">
    <div class="row">
      <div class="span3">
        <div>
          <section>
            Posted by <%= @question.user.name %> <%= time_ago_in_words(@question.created_at) %> ago
          </section>
          <% if signed_in? && (current_user.admin? || current_user?(@question.user)) %>
            <section>
              <%= link_to "Edit", edit_question_path(@question), class: "btn btn-large btn-primary" %>
              <%= link_to "Delete", @question, class: "btn btn-large btn-primary", method: :delete,
                                        data: { confirm: "You sure?" } %>
            </section>
          <% end %>
        </div>
      </div>
      <div class="span7">
        <div>
          <h4><%= @question.title %></h4>
          <%= @question.content %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row answers">
  <%= render @question.answers %>
</div>
<div class="row reply">
  <div class="span10 offset1">
  <h4>Got an answer</h4>
    <% if signed_in? %>
      <%= form_for(@reply) do |f| %>
        <%= render 'shared/error_messages' %>
  
        <%= f.label :content %>
        <%= f.text_area :content, cols: 100, rows: 10 %>
        <br />
        <%= hidden_field :question, :id %>
        <%= f.submit "Post Answer", class: "btn btn-large btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to "Sign in to contribute!", signin_path %> 
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
