<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <%= @user.email %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.postings.any? %>
      <h3>Posts (<%= @user.postings.count %>)</h3>
      <ol class="postings">
        <%= render @postings %>
      </ol>
      <%= will_paginate @postings %>
    <% end %>
  </div>
</div>